body {
  background: rgb(252, 245, 252);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  display: block;
  margin: 30px;
}

.App-logo {
  font-size: 100px;
  text-align: center;
  display: block;
  color: rgb(171, 40, 219);
  margin: 40px;
}

.App-footer {
  text-align: center;
  margin: 30px;
}
