.Phonetics {
  display: flex;
  align-items: baseline;
}

.Phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  color: rgb(171, 40, 219);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid rgb(171, 40, 219);
  transition: all 150ms ease-in-out;
}

.Phonetics p {
  margin-left: 10px;
  opacity: 0.5;
  font-weight: bold;
}

.Phonetics a:hover {
  background: rgb(171, 40, 219);
  color: white;
}
